<!DOCTYPE html>
<html>
<body>

<h3><u>A Quick Introduction</u></h3>

<p>In order to express my interest in working at Harvest, I've adapted this website to provide an elongated and somewhat informal look at my professional career to date. 
I sort of indirectly developed this website for you, so I hope you like it! It was my first exposure to Ruby, and 
I wrote the vast majority of the code while I was on vacation, so it turned out to be a really fun way to pass the time traveling. 
Please visit the <u><a href="http://harvestexpert.herokuapp.com/home/website_info">Website Info</a></u> page for more detailed information about this website.
</p>
<p>Just for the sake of brevity I'm going to break this out into 3 key areas that will hopefully, when taken in the aggregate, will paint a pretty good picture of who I am as an employee. These sections are as follows:</p>
<p><ul>
 <b><li>History with Customer Service</li>
  <li>Tech Stuff</li>
  <li>Why Harvest?</li></b>
</ul></p>
<p>So now that we have the formalities behind us, lets get into the good stuff!</p>


<h3><u>My History of Providing Customer Service</u></h3>

<p> It’s pretty clear that if you're going to be good at anything and be an effective 'Harvest Expert',
it better be providing great customer service. The tone in which your job posting was written
was encouraging because I feel like the strongest part of my game at this point is, without a doubt,
my customer service experience. Being that customer service is seemingly such an integral part of this position,
I'm going to gracefully segue here and focus on how I have, and continue to, deliver thoughtful customer service. </p>

<p>I studied Political Science at the University of Missouri from 2000-2005. Beginning with the Presidential Election of 2004, I started doing side work for a political consulting company here in St. Louis, and got immediately plugged into their grassroots operations. 
Organizing phone banks and door knocking isn't rocket science, but it did require energy and positivity on a daily basis, as well as a commitment to making sure 
your work consistantly beat expectations.  My expierence grew over the course of 4 years culminating in being assigned as the Executive Assistant to Senate Pro-Tem Michael Gibbons 
on his run for Attorney General in 2008. At the time he was arguably one of the most influential Senators in the state of Missouri as well as one of our most important clients. My bosses trusted me to 
spend 10hrs a day with the Senator because they knew I would represent myself and most importantly the company in the best light possible. Having that exposure at that point of my
career was fantastic, the Senator taught me a lot about how to be a professional, and about the importance of taking your time to communicate complex issues on a level everyone can understand.</p>


<p>Shortly after the 2008 election cycle concluded, I got an offer to go to work for Vail Resorts in Colorado, as an Employee Relations Specialist. 
Working in the mountains and skiing on my lunch break had always been a dream of mine, so I took the opportunity without giving it much of a second thought.
My job with Vail Resorts was centered on providing customer service not only to the paying public, but also to the internal employees at Keystone that ran the resort. 
I served as a proxy to their corporate HR structure to help onboard and acclimate the influx of employees coming in each ski season. Vail is very invested in creating an 
"Experience of a Lifetime" for not only their paying customers, but also their employees. We were constantly engaging with our employees and affirming that those corporate ideals were being practiced. On top of the day to day customer service experience the job was providing me, I was also lucky enough to be invited to participate in what they 
call "Potentials" which is a management training program designed to expose employees to the Vail corporate structure and larger business concepts. In this program I 
got a really good look at how a Fortune 500 company drives its core customer service principals from the top down and how their standard of "Experience of a Lifetime" 
emanated into everything they tried to do. When my contract ended with Vail, moved back to St. Louis to be closer to family. I took my current job here at the St. Louis City 
Board of Elections upon returning the summer of 2010.</p>

<p>And that brings us to present day, where I serve as the IT Manager at a smallish government office called the St. Louis City Board of Elections. 
Our primary focus is exactly as it sounds, to administer and certify, any and all elections that are held in the City of St. Louis. 
From a management standpoint, I am caretaker of a system that supports 35 full time employees, I serve as liaison to our Board of Commissioners on long term 
technology strategy and planning, and personally troubleshoot 95% of our day to day user difficulties. Perhaps most relevant to our customer service discussion,
I also serve as the primary contact for any public data request, as well as acting as liaison to all of our outside software and infrastructure vendors. 
As you might imagine, being a public entity, we deal with the general public on a fairly regular basis, particularly around highly contested elections. 
It’s also recorded fact that certain people just love being outraged at the government. The lethal combination of politics and bureaucracy can at times make for some very abrasive elected officials or constituents wanting to speak with you. I can 100% say
without equivocation, that working at the Board of Elections has made me more patient and more effective when dealing in customer service situations.
It has made me better at communicating technology concepts in a way that is universally understandable, it has made me more confident, and has taught me how to be prepared for a 
conversation before it even happens. These are all things I think that come naturally to me to some degree, but working here has really allowed me to refine those qualities
in a professional setting over an extended period of time.</p>

<p><b>Summary:</b> If you'd allow me the courtesy of using fussy math that is roughly a decade’s worth of experience in customer service. More than anything,
I think it speaks to the fact I'm a person varying types of employers have put their trust in to deliver a reliable and consistent product commiserate with their image and standards.<p/>   


<h3><u>The Tech Stuff</u></h3>
<p>In 2013 I came to the realization that if I was going to stay in the tech industry I needed to start adding some specialized skill sets to my resume. Being that I studied Political Science at Mizzou, 
I had no classic schooling or training in the tech field, so I enrolled in a program through UCLA in Systems Analysis. 
It gave me an in depth look at everything from Agile software development, to actual coding best practices and techniques. 
I completed that program in just under 15 months. Just recently I also enrolled in a Software Development program at Cal-Berkeley, I am currently completing courses in Javascript and Python.  

Below are some of the launguages and technologies I worked with through these programs, and others I have picked up myself along the way. I’m really looking for a position that will allow me to lean on my 
generalist expierence yet still allow me to poke through someone else's code, and maybe hack out a little bit of my own.

</p>
<pre>
<b>Familiar Languages:</b>    -- SQL       -- C              -- HTML      -- CSS               --jQuery         
                       -- RUBY      -- Javascript     -- Python    -- Visual Basic      --Git                                      

<b>Software:</b>
Netbeans IDE 8.0, SQL Server Management Studio, Bloodshed Dev C++, Microsoft Visual Studio, Cloud9 Dev Enviroment, Wireshark, Amazon Web Services,
Cisco Meraki MDM, Microsoft Server 2008 R2, Cisco Mobile Device Management 
</pre>

<h3><u>Why Harvest?</u></h3>
<p>I found Harvest through a random job board a couple of years ago, and I have been idly keeping an eye on your career section since that time. I've wanted to apply to this opening previously, 
but the timing has never been quite right. Things have changed significantly for me over the last year and a half, and quite honestly, all of a sudden the timing couldn't be anymore perfect. 
On the surface Harvest checks a lot of boxes for me right off the bat. First it’s a small, close knit company that seems like it really invests in its culture as a means to ensure quality.
Secondly, you use an Agile framework and have also been known to utilize pair programming, two things I was really hoping for in my next position. 
And my third point will take just a minute to explain, so please allow me to indulge myself:</p>

<p>In your <b>“Secret Tips for Applying to Harvest”</b> you stated that I should know something about Harvest, 
so I spent some time learning the back stories for some of your current employees and reading through your Tech Time blog.  
I found my way to Danny Wen’s Tumblr page, and two postings he had there are what pushed me to 
finally put all this together and apply. </p>

<p>Here is a quote from Danny's Tumblr:</p>
<blockquote>“If you take somebody who has high cognitive ability, 
is innately curious, willing to learn and has emergent leadership skills, 
and you hire them as an H.R. person or finance person, 
and they have no content knowledge, and you compare them with someone who’s been doing just one thing and is a world expert, the expert will go: 
‘I’ve seen this 100 times before; here’s what you do.’ ” Most of the time the nonexpert will come up with the same answer, added Bock, 
“because most of the time it’s not that hard.” Sure, once in a while they will mess it up, he said, 
but once in a while they’ll also come up with an answer that is totally new. And there is huge value in that."</blockquote>
<p>Here is another qoute from an article linked on Danny's Tumblr:</p>
<blockquote>I have 46 Thanksgiving dinners left with my family. After that, I’ll be dead. Time is the most valuable resource I have. Yet, I don’t manage it like one.</blockquote>
<p>I think both of those statements come from such an enlightened place, if that is the mindset and disposition of the person responsible for running Harvest, then I absolutely want to be a part of the team.
This is exactly the sort of energy and enviroment I want to be surrounded by. I know I can contribute, not just in productivity, but from a positivity and cultural standpoint as well. I want to continue to grow 
as an employee and as a person, and I know Harvest has an established framework that can help facilitate that. 
</p>


<h3><u>In Closing</u></h3>
<p>I think I’m pushing well over 2000 words at this point, so assuming you’re still reading, I’m going to keep this closing brief.
I know for a fact that I would make a great Harvest Expert, I have the experience, the desire, and the temperament to deliver excellent customer service to Harvest’s clients. 
Beyond that, I’m a thoughtful human being and a gracious teammate, but most importantly I have a history of being a really good employee. </p>

</body>
</html>