<!DOCTYPE html>
<html>
<body>

<h3><u>A Quick Introduction</u></h3>

<p>In order to express my interest in working at Harvest, I've adapted this website to provide an elongated and somewhat informal look at my professional career to date. 
I sort of indirectly developed this website for you, so I hope you like it! It was my first exposure to Ruby, and 
I wrote the vast majority of the code while I was on vacation, so it turned out to be a really fun way to pass the time traveling. 
Please visit the Website Info page or my GitHub for more detailed information about this website.
</p>
<p>Just for the sake of brevity I'm going to break this out into 4 key areas that will hopefully, when taken in the aggregate, will paint a pretty good picture of who I am as an employee. These sections are as follows:</p>
<p><ul>
 <b><li>History with Customer Service</li>
  <li>A Good Investment</li>
  <li>Tech Stuff</li>
  <li>Why Harvest?</li></b>
</ul></p>
<p>So now that we have the formalities behind us, lets get into the good stuff!</p>

<h3><u>My History of Providing Customer Service</u></h3>

<p> It’s pretty clear that if you're going to be good at anything and be an effective 'Harvest Expert',
it better be providing great customer service. The tone in which your job posting was written
was encouraging because I feel like the strongest part of my game at this point is, without a doubt,
my customer service experience. Being that customer service is seemingly such an integral part of this position,
I'm going to gracefully segue here and focus on how I have, and continue to, deliver thoughtful customer service. </p>

<p>I studied Political Science at the University of Missouri from 2000-2005. Beginning with the Presidential Election of 2004, I started doing side work for a political consulting company here in St. Louis, and got immediately plugged into their grassroots operations. 
Organizing phone banks and door knocking isn't rocket science, but it did require energy and positivity on a daily basis, as well as a commitment to making sure 
your work consistantly beat expectations.  My expierence grew over the course of 4 years culminating in being assigned as the Executive Assistant to Senate Pro-Tem Michael Gibbons 
on his run for Attorney General in 2008. At the time he was arguably one of the most influential Senators in the state of Missouri as well as one of our most important clients. My bosses trusted me to 
spend 10hrs a day with the Senator because they knew I would represent myself and most importantly the company in the best light possible. Having that exposure at that point of my
career was fantastic, the Senator taught me a lot about how to be a professional, and about the importance of taking your time to communicate complex issues on a level everyone can understand.</p>


<p>Shortly after the 2008 election cycle concluded, I got an offer to go to work for Vail Resorts in Colorado, as an Employee Relations Specialist. 
Working in the mountains and skiing on my lunch break had always been a dream of mine, so I took the opportunity without giving it much of a second thought.
My job with Vail Resorts was centered on providing customer service not only to the paying public, but also to the internal employees at Keystone that ran the resort. 
I served as a proxy to their corporate HR structure to help onboard and acclimate the influx of employees coming in each ski season. Vail is very invested in creating an 
"Experience of a Lifetime" for not only their paying customers, but also their employees. We were constantly engaging with our employees and affirming that those corporate ideals were being practiced. On top of the day to day customer service experience the job was providing me, I was also lucky enough to be invited to participate in what they 
call "Potentials" which is a management training program designed to expose employees to the Vail corporate structure and larger business concepts. In this program I 
got a really good look at how a Fortune 500 company drives its core customer service principals from the top down and how their standard of "Experience of a Lifetime" 
emanated into everything they tried to do. When my contract ended with Vail, moved back to St. Louis to be closer to family. I took my current job here at the St. Louis City 
Board of Elections upon returning the summer of 2010.</p>

<p>And that brings us to present day, where I serve as the IT Manager at a smallish government office called the St. Louis City Board of Elections. 
Our primary focus is exactly as it sounds, to administer and certify, any and all elections that are held in the City of St. Louis. 
From a management standpoint, I am caretaker of a system that supports 35 full time employees, I serve as liaison to our Board of Commissioners on long term 
technology strategy and planning, and personally troubleshoot 95% of our day to day user difficulties. Perhaps most relevant to our customer service discussion,
I also serve as the primary contact for any public data request, as well as acting as liaison to all of our outside software and infrastructure vendors. 
As you might imagine, being a public entity, we deal with the general public on a fairly regular basis, particularly around highly contested elections. 
It’s also recorded fact that certain people just love being outraged at the government. The lethal combination of politics and bureaucracy can at times make for some very abrasive elected officials or constituents wanting to speak with you. I can 100% say
without equivocation, that working at the Board of Elections has made me more patient and more effective when dealing in customer service situations.
It has made me better at communicating technology concepts in a way that is universally understandable, it has made me more confident, and has taught me how to be prepared for a 
conversation before it even happens. These are all things I think that come naturally to me to some degree, but working here has really allowed me to refine those qualities
in a professional setting over an extended period of time.</p>

<p><b>Summary:</b> If you'd allow me the courtesy of using fussy math that is roughly a decade’s worth of experience in customer service. More than anything,
I think it speaks to the fact I'm a person varying types of employers have put their trust in to deliver a reliable and consistent product commiserate with their image and standards.<p/>   


<h3><u>A Good Investment</u></h3>
<p>I wanted to include this section so I could highlight a couple of things about myself that might not come across otherwise in this format. 
I've got 3 main points I'd like to address that I think make me an excellent investment from an employer point of view.</p>

<p><b>AGE:</b> I am 33 years old, I have been working in professional environments for over a decade now. I've got a mortgage and I just purchased a weed eater, for lack of a better term, I'm an adult. 
 I am firmly apart of the Oregon Trail generation, so I've grown up with computers, but I firmly understand that there was a world before computers, and some people would prefer to stay there. I honestly feel like my ability to
communicate and help people troubleshoot technology is enhanced by having lived at least some portion of my life before the internet ruled the world. What I may be lacking in direct customer service experience in this particular market, I feel like I more than make up for in my professionalism and how seriously I take my job.
 </p>
 <p>I've been preparing to make this move in my career since I enrolled in my first class at UCLA in 2013. I have a strong desire to stay relevant in technology, and I have proven that I have the ability to do so through education.  
 I know I can be a Harvest Expert, but beyond that, I think the skys the limit. I feel pretty confident that I can be taught
 just about anything, you can take me and turn me into exactly what you need. I don’t have bad habits to break, 
 I don’t have bias or malaise from years spent in the software industry. I’m a great employee,
 and above all I’m a willing employee, I just need someone to invest in me, and point me in the right direction.</p>

<p><b>$$$$:</b> Unlike most job seekers I actually still enjoy the job I currently have. I've been here happily for over 5 years, but the reality is I have maxed out my earning and growth potiential here. 
At $43k, when taking my my resume into account, I think most people would agree I'm currently underpaid. In the past year I've turned down two good job offers
that offered in the $50k-$55k range, so this isn't strictly about the money. What I am looking for going forward is an opportunity to grow technically on a dialy basis and enough money so that I'm not back in the job market 18 months from now. Thankfully I live in one of the most affordable major cities in the country, so that number for me is somewhere between $50k-$60k with a goal of being worth 20 percent more than that 3-5 years down the line. 
As far as being a distributed worker is concerned, I feel like I have added value built in just by the virtue of how reasonable my existing cost of living is here in St. Louis. I really feel at those price points mentioned above, I could
provide a tremedous return on investment in both the short and long term.</p>

<h3><u>The Tech Stuff</u></h3>
<p>In 2013 I came to the realization that if I was going to stay in the tech industry I needed to start adding some specialized skill sets to my resume. Being that I studied Political Science at Mizzou, I had no classic schooling or training in the tech field, so I enrolled in a 32 hour online program through UCLA in Systems Analysis. 
It gave me an in depth look at everything from Agile software development, to actual coding best practices and techniques. 
I completed that program in just under 15 months. Below are some of the technologies I worked with through the program, and others I have picked up myself along the way since then. I would say anything relating to databases would 
be my strong suit at the moment, working with relational databases has come very naturally to me. 

</p>
<pre>
<b>Projects Completed:</b>    -- SQL       -- C                -- HTML      -- XML       <b>What's Next:</b>   -- Python   -- MySQL  
                       -- RUBY      -- Visual Basic     -- JAVA                                      

<b>Software:</b>
Netbeans IDE 8.0, SQL Server Management Studio, Bloodshed Dev C++, Microsoft Visual Studio, Cloud9 Dev Enviroment, Wireshark, Amazon Web Services,
Cisco Meraki MDM, Microsoft Server 2008 R2, Cisco Mobile Device Management 
</pre>


<h3><u>Why Harvest?</u></h3>
<p>In the interest of full disclosure, I have been working on/thinking about applying for this position for well over a month now. 
I found Harvest through a random job board well over a year ago, and I have been idly keeping an eye on your career section since that time. 
On the surface Harvest checks a lot of boxes for me right off the bat. First it’s a small, close knit company that seems like it really invests in its culture as a means to ensure quality.
Secondly, you use an Agile framework and have also been known to utilize pair programming, two things I was really hoping for in my next position. 
And my third point will take just a minute to explain, so please allow me to indulge myself:</p>

<p>In your <b>“Secret Tips for Applying to Harvest”</b> you stated that I should know something about Harvest, 
so I spent some time learning the back stories for some of your current employees and reading through your Tech Time blog.  
I found my way to Danny Wen’s Tumblr page, and two postings he had there are what pushed me to 
finally put all this together and apply. </p>

<p>Here is a quote from Danny's Tumblr:</p>
<blockquote>“If you take somebody who has high cognitive ability, 
is innately curious, willing to learn and has emergent leadership skills, 
and you hire them as an H.R. person or finance person, 
and they have no content knowledge, and you compare them with someone who’s been doing just one thing and is a world expert, the expert will go: 
‘I’ve seen this 100 times before; here’s what you do.’ ” Most of the time the nonexpert will come up with the same answer, added Bock, 
“because most of the time it’s not that hard.” Sure, once in a while they will mess it up, he said, 
but once in a while they’ll also come up with an answer that is totally new. And there is huge value in that."</blockquote>
<p>Here is another qoute from an article linked on Danny's Tumblr:</p>
<blockquote>I have 46 Thanksgiving dinners left with my family. After that, I’ll be dead. Time is the most valuable resource I have. Yet, I don’t manage it like one.</blockquote>
<p>I think both of those statements come from such an enlightened place, if that is the mindset and disposition of the person responsible for running Harvest, then I absolutely want to be a part of the team.
</p>

<h3><u>In Closing</u></h3>
<p>I think I’m pushing well over 2000 words at this point, so assuming you’re still reading, I’m going to keep this closing brief.
I know for a fact that I would make a great Harvest Expert, I have the experience, the desire, and the temperament to deliver excellent customer service to Harvest’s clients. 
Beyond that, I’m a thoughtful human being and a gracious teammate, but most importantly I have a history of being a really good employee. </p>

</body>
</html>