<h3><u>Why Harvest?</u></h3>
<p>In the interest of full disclosure, I have been working on/thinking about applying for this position for well over a month now. 
I found Harvest through a random job board well over a year ago, and I have been idly keeping an eye on your career section since that time. 
On the surface Harvest checks a lot of boxes for me right off the bat. First it’s a small, close knit company that seems like it really invests in its culture as a means to ensure quality.
Secondly, you use an Agile framework and have also been known to utilize pair programming, two things I was really hoping for in my next position. 
And my third point will take just a minute to explain, so please allow me to indulge myself:</p>