<h3><u>Typos!</u></h3>
<p>In the interest of full disclosure, I have been working on/thinking about applying for this position for well over a month now. 
I found Harvest through a random job board well over a year ago, and I have been idly keeping an eye on your career section since that time. 
On the surface Harvest checks a lot of boxes for me right off the bat. First it’s a small, close knit company that seems like it really invests in its culture as a means to ensure quality.
Secondly, you use an Agile framework and have also been known to utilize pair programming, two things I was really hoping for in my next position. 
And my third point will take just a minute to explain, so please allow me to indulge myself:</p>

<h3><u>Harvest Free Trial</u></h3>
<p>Just to let you guys know, after I signed up for the free trial, I got a phone call a matter of hours later from your sales team. They displayed a pretty impressive turn around time on that lead, so kudos to them. 
This was a fun exercise because it gave me a chance to get to know the software a little better, and play around from an end user point of view. So I input some dummy data just to get things rolling
and cruised around looking for anything that even remotely resembled a colored bar graph. I took some screenshots of what I found; </p>
<p><b>I found a colored bar graph here in Forecast:</b></p>
<img src="https://s3.amazonaws.com/forapplication/Capture.JPG" alt="Smiley face" height="250" width="550">
<p><b>I found a colored bar graph here in Tasks:</b></p>
<img src="https://s3.amazonaws.com/forapplication/Capture1.JPG" alt="Smiley face" height="250" width="550">
<p><b>This one isn't as colorful, but is still a bar graph:</b></p>
<p><img src="https://s3.amazonaws.com/forapplication/Capture2.JPG" alt="Smiley face" height="250" width="550"></p>

