<h3><u>Typos!</u></h3>
<p>I don't need to tell you this, but your job posting had a fair number of grammatical mistakes. The following are the corrections 
I would make to that particular copy.</p>

<h4>Intro</h4>
<p><ul>
 <li>Harvest Experts: wicked-smart human beings, empathetic problem-solvers, and patient trouble-shooters. <font color="red">("beings" not "being") </font></li></b>
</ul></p>


<h4> About You</h4>
<p><ul>
  <li>You can gracefully break down, solve, and explain even the most complex problems. <font color="red">(removed comma after explain)</font></li>
  <li>You’re self-motivated, but also enjoy contributing to a team. <font color="red">(inserted hyphen)</font></li>
  <li>You’re thorough—no detail goes unnoticed. <font color="red">("goes" not "go")</font> </li>
  <li>You don’t mind doing the same thing from day-to-day. <font color="red">(inserted hyphen)</font> </li>
  <li>...onto a side project when the occasion arises, and aren’t scared to tackle the new and unknown. <font color="red">(inserted comma after arises)</font> </li>
</ul></p>

<h4>What You'll Do</h4>
<p><ul>
 <li>...Harvest Forecast, and our associated apps and integrations. <font color="red">("our" not "are") </font></li>
  <li>...video documentation for Harvest's Help Center, and keep this documentation up-to-date. <font color="red">(inserted apostrophe in Harvests)</font></li>
  <li>Troubleshoot technical issues in Harvest, and help developers diagnose bugs. <font color="red">(inserted comma after Harvest)</font> </li>
</ul></p>

<h4>To Apply</h4>
<p><ul>
 <li>Tell us a bit about yourself, and why you’d make a great Harvest Expert. <font color="red">(inserted comma after yourself and removed "you") </font></li>
</ul></p>




