<p>In your <b>“Secret Tips for Applying to Harvest”</b> you stated that I should know something about Harvest, 
so I spent some time learning the back stories for some of your current employees and reading through your Tech Time blog.  
I found my way to Danny Wen’s Tumblr page, and two postings he had there are what pushed me to 
finally put all this together and apply. </p>